<div class="wrapper wrapper_padding clearfix">
      
      <div class="col-1 about homepage_content">
      <h2>About</h2>
      <hr>
      <p>I'm currently working on my dream to become a Full-Stack developer, I fell in love with this world thanks to Ruby on Rails and previous experiences in web development.</p>
      <p>During the day I worked in SunLife as Middle Analyst and at night I am either working on projects with friends for their startup projects or writing tutorials<p>
      <p>Please check out my github <a href="https://github.com/Lemonjai">Lemonjai</a></p>
      </div>

      <div class="col-2 homepage_content">
        <h2> Stuff I've Written</h2>
        <hr>

        <% @posts.each do |post| %>
          <h3><a href="#"><%= link_to post.title, post %> </a></h3>
          <p class="date"><%= post.created_at.strftime("%A, %b, %d")%></p>
        <% end %>
      </div>

      <div class="col-3 homepage_content">
      <h2> Stuff I've Built</h2>
        <hr>
        <% @projects.each do |project| %>
          <h3><a href="#"><%= link_to project.title, project %> </a></h3>
          <p class="date"><%= project.created_at.strftime("%A, %b, %d")%></p>
        <% end %>
      </div>

</div>