<footer id="main_footer">
    <p class="copyright">&copy 2016 FullStack.io</p>
      <nav>
        
      	<a onclick="javascript:window.open('http://facebook.com/sharer.php?u=https://fullstack-io.herokuapp.com', '_blank', 'width=800,height=500,top=200,left=300');void(0);">
        <i class="fa fa-facebook"></i>
        </a>

        <a onclick="javascript:window.open('http://twitter.com/share?text=On The Develop Road by @FullStack.io - &amp;urlhttps://fullstack-io.herokuapp.com', '_blank', 'width=800,height=500,top=200,left=300');void(0);">
        <i class="fa fa-twitter"></i>
        </a>

        <a onclick="javascript:window.open('https://plus.google.com/share?url=https://fullstack-io.herokuapp.com', '_blank', 'width=800,height=500,top=200,left=300');void(0);">
        <i class="fa fa-google-plus"></i>
        </a>

      </nav>
  </footer>